@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1280px; 
  margin: 0 auto;
  padding: 2em;
  background: #dfe0e2b1;
  font-weight: normal;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 500;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
}

@media (prefers-color-scheme: light) {
  .button-completed-true {
    background-color: white;
  }
  .button-completed-false  {
    background-color: white; 
  }
  .header input{
    background-color: grey;
  }
  button {
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
   :root {
    color: white;
  } 
.container .list {
  color: cyan;

}
  button {
    color: white;
  }
  .button-completed-true {
    background-color: dimgray;
    
  }
  .button-completed-false  {
    background-color: dimgray; 
  }
}
